#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container{
  display: flex;
  flex-direction: row;
  margin-top: 3rem;
}

.container div {
  margin-left: 50px;
}

.container div p {
  background-color: black;
  padding: 3px 8px;
  border-radius: 5px;
}
